<div class="form-container">
   <div class="heading-container"><h4>Update Employee</h4></div>
<form [formGroup]="upEmpForm">

  <label for="">First Name </label>
  <input formControlName="firstname" type="text" required>
  <br><br>
  <label for="">Last Name </label>
  <input formControlName="lastname" type="text" required>
  <br><br>
  <label for="">Email  </label>
  <input formControlName="email" type="email" required  >
  <br><br>
   
  <button class="btn btn-success" type="button" [disabled]="! upEmpForm.valid" (click)="updateEmp()" [routerLink]="['/employeeslist']">Save </button>



</form>

</div>