
<div class="form-div">
<form #loginForm="ngForm" (submit)=" login(loginForm)" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"> Username</label>
      <input type="email" class="form-control" name="username"  [(ngModel)]="username" required="">
      
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)] ="password" required="">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
      <label class="form-check-label" for="exampleCheck1" >Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" [routerLink]="['/home']"> Log in </button>
  </form>
</div>
 <a  *ngIf="(success) else incorrect " href=""></a>
  
 <ng-template #incorrect> <a href="/login"></a></ng-template>

